.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.flex-row{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
}
.vandak{
    width: 100px;
    height: 100px;
    text-align: center;
    outline: black;
    font-size: 80px;
}

.vernagir {
    width: 100vw;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
.flex-wrap-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.tver {
    margin: 25px;
    padding: 15px;
}
